.logo-size8 {
    width: 10px;
    height: 10px;
    position: relative;
    left: 200px;
    top: 520px;
}
.heading8{
    border: 1px solid #000000;
    width: 150px;
    height: 50px;
    text-transform: uppercase;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    font-size: 12px;
    position: relative;
    right: -70px;
    top: -70px;
}