
ul li {
    list-style: none;
}

.logo{
    border: 1px solid #00ff00;
    width: 201px;
    height: 76px;
    justify-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
.uppar-logo{
    font-size: 20px;
    font-style: normal;
    font-weight: bolder;
}
.lower-logo{
    font-size: 17px;
    font-style: normal;
    font-weight: 900px;
}
.subHeader{
    border: 1px solid #00ff00;
    width: 500px;
    height: 76px;
    display: flex;
    letter-spacing: 2px;
    row-gap: 2px;
    padding: 5px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 10px;
    left: 210px;
    font-size: 12px;
    font-weight: bold;
    


    
}
li link{
  text-decoration: none;
}
.mid-logo{
    width: 800px;
    height: 180px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    font-size: 70px;
    font-weight: bolder;
    position: absolute;
    right: 400px;
    bottom: 250px;

    

}
.mid-lower-logo{
    width: 800px;
    height: 50px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    font-size: 25px;
    font-weight: bolder;
    position: absolute;
    right: 400px;
    bottom: 200px;
}
.second-page{
    border: 1px solid #ededed;
    width: 1519px;
    height: 900px;
    background-color: #000000;
}
.second-page-heading{
    border: 1px solid #000000;
    width: 300px;
    height: 80px;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: bolder;
    color: #00ff00;
    padding: 8px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    position: relative;
    top: 90px;
    left: 600px;

   
}
.second-page-heading2{
    border: 1px solid #000000;
    width: 300px;
    height: 30px;
    font-size: 10px;
    font-weight: bolder;
    color: #ededed;
    padding: 8px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    position: relative;
    top: 90px;
    left: 580px;
}
.third-page{
    border: 1px solid #ededed;
    width: 1519px;
    height: 900px;
    background-color: rgb(231, 224, 224);
}
.third-page-heading{
    border: 1px solid rgb(231, 224, 224);
    width: 470px;
    height: 150px;
    text-transform: uppercase;
    font-size: 38px;
    font-weight: bolder;
    color: #000000;
    padding: 8px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    position: relative;
    top: 80px;
    left: 540px;
    
}
@media(max-width: 768px){
    .uppar-logo{
        font-size: 20px;

    }
    .lower-logo{
        font-size: 8px;
    } 
    .mid-logo{
        font-size: 35px;
        width: 300px;
        height: 90px;
        position: absolute;
        right: 200px;
        bottom: 250px;

    }
    .mid-lower-logo{
        width: 400px;
        height: 50px;
        right: 160px;
        bottom: 100px;
    }
      
}
