

.button{
    border: 1px solid #ededed;
    width: 120px;
    height: 40px;
    padding: 6px;
    margin: 5px;
    border-radius: 20px;
    background-color: #000000;
    color: #ededed ;
    font-size: 15px;
    position: absolute;
    top: 20px;
    right: 280px;

}
@media (max-width: 768){
    .button{
        display: flex;
        width: 100px;
        height: 30px;
        font-size: 8px;
        position: absolute;
        top: 100px;
        right: 700px;

    }
}