


.right-button{
    border: 1px solid #ededed;
    width: 120px;
    height: 40px;
    padding: 6px;
    margin: 5px;
    border-radius: 20px;
    background-color: white;
    color: #000000 ;
    font-size: 15px;
    position: relative;
    margin-right: 20px;
    padding-right: 10px;
    position: absolute;
    top: 20px;
    right: 120px;
    justify-items: center;
    justify-content: center;
    align-items: center;
}
@media (max-width: 768){
    .right-button{
        width: 100px;
        height: 30px;
        font-size: 8px;
        position: absolute;
        top: 10px;
        right: 700px;

    }
}