.third-logo-size11 {
    position: relative;
    left: 650px;
    top: 200px;
}
.third-heading11{
    border: 1px solid rgb(231, 224, 224);
    width: 150px;
    height: 50px;
    text-transform: uppercase;
    color: #000000;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    right: -130px;
    top: -80px;
}